.connections-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
}
.connect-box {
    justify-content: center;
    align-items: left;
    flex-direction: column;
    display: flex;
    background-color: white;
    z-index: 1000;
    padding-left: 4%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 6%;
    box-shadow: 0 8px 16px 0;
    width: 800px;
}
.intro-box {
    justify-content: center;
    align-items: left;
    flex-direction: column;
    display: flex;
    background-color: white;
    z-index: 1000;
    padding-left: 4%;
    padding-right: 7%;
    padding-top: 4%;
    padding-bottom: 4%;
    box-shadow: 0 8px 16px 0;
    margin-bottom: 10px;
    width: 800px;
    height: 50px;
}
.black {
    color: black;
}
.inner-box {
    overflow: hidden;
    background-color: #ef4a92;
    width: 250px;
    height: 250px;
    /* align-items: center; */
    /* border-radius: 3%; */
    float: left;
    margin-right: 10px;
}
.inner-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-content {
    overflow: hidden; /* Clear the float so the text wraps properly */
}
.connect-button {
    background: linear-gradient(to right top, #fa4756, #ef4a92);
    color: white;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    display: flex;
}
.connect-button:hover {
    background: lightblue;
}
.button-cont {
display: flex;
  justify-content: space-between;
  align-items: right; /* Optional: to vertically align the button in the center */
  height: 100%; /* Adjust based on your layout */
}