body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.landing-page-container {
    background: linear-gradient(to right top, #fd5564, #ef4a75);
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.landing-page-header {
    display: flex;
    color: rgb(255, 255, 255);
}
.landing-page-header h1 {
    font-size: 50px;
}
.login-button {
    width: 80px;
    height: 33px;
    background-color: black;
    color: white;
    border-radius: 8px;
}
.login-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.register-button {
    background-color: white;
    color: black;
    width: 80px;
    height: 33px;
    border-radius: 8px;
}
.register-button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.header {
    font-size: 50px;
}
/* .register-login-buttons {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    justify-content: center;
    align-items: center;
} */