/* Recruiting.css */
.recruiting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 50px); /* Adjust for the height of the bottom menu */
    position: relative;
  }
  
  .card {
    width: 300px;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    margin-bottom: 20px; /* Add margin to separate from buttons */
    background: white;
    border: none;
  }
  
  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
  }
  
  .swipe-left {
    transform: translateX(-100vw) rotate(-20deg);
    opacity: 0;
  }
  
  .swipe-right {
    transform: translateX(100vw) rotate(20deg);
    opacity: 0;
  }
  
  .card-meta-title {
    font-weight: bold;
  }
  
  .card-meta-subtitle {
    color: gray;
    font-weight: normal;
  }
  
  .bottom-menu {
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }
  .image-container {
    position: relative;
    width: 100%;
    height: 400px; /* Adjust height as necessary */
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container */
  }
  
  .text-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
    padding: 20px; /* Add padding for text */
    color: white; /* Text color */
  }
  
  .text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .card-meta-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-meta-subtitle {
    color: white;
    font-size: 1em;
  }
  
  .tindar-index {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(0, 0, 0); /* Semi-transparent background */
    padding: 5px 5px;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    font-weight: 100;
  }
  
  .dismiss-button {
    width: 80px;
    height: 33px;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    border-radius: 8px;
}
.dismiss-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.offer-button {
  background-color: white;
  color: black;
  font-family: "Varela Round", sans-serif;
  width: 80px;
  height: 33px;
  border-radius: 8px;
}
.offer-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
