/* Resume.css */
.resume {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .resume-header {
    text-align: center;
    /* border-bottom: 2px solid #333; */
    margin-bottom: 20px;
  }
  
  .resume-section {
    margin: 20px 0;
  }

  .newH2 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
  }

  .intro {
    font-size: 18px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 5px 0;
  }
  
  strong {
    color: #333;
  }
  